.intro-section {
  width: 65%;
  margin: 2rem auto;
  text-align: center;
}

.footer-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.footer-description {
  font-size: 1rem;
  color: #94a3b8;
  line-height: 1.6;
}
